<div id="home" class="intro route bg-image"
     style="background-image: url({{ absolute_url(asset('/img/fond_snowtricks.jpg')) }})">

    <div class="overlay-intro"></div>

    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="intro-title mb-4">Snowtricks</h1>
                <p class="intro-subtitle">
                        <span class="text-slider-items">Site communautaire pour apprendre les figures de snowboard,
                        Backflip, FrontFlip, Japan Air, indy, et bien d'autres...</span>
                    <strong class="text-slider"></strong>

                </p>
                {{  include('structure/_show_alert.html.twig') }}
            </div>
        </div>

    </div>

    <a href="#list_figure" class="bottom-right-arrow">
        <i class="fas fa-arrow-alt-circle-down fa-4x"></i>
    </a>
</div>