.img-circle {
    border-radius: 50%;
}
.profile-user-img {
    border: 3px solid
    #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}