{% extends 'base.html.twig' %}


    {% block body %}

        {{ include('structure/_accroche.html.twig') }}

        <section class="content " id="section_body">
            <div class="container-fluid ">

            </div>
        </section>
    {% endblock %}