{% extends 'base.html.twig' %}

    {% block body %}
        <div class="bg-image"
             style="height:100px;  background-image: url({{ absolute_url( asset('/img/fond_snowtricks.jpg')) }})">
        </div>
        <div class="content-wrapper ">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        {% block single_header %}{% endblock %}

                    </div>
                </div>
            </div>

            <section class="content mb-5" id="section_body">
                <div class="container-fluid ">

                    {{ include('structure/_show_alert.html.twig') }}

                    {% block single_body %}

                    {% endblock %}
                </div>
            </section>
        </div>
    {% endblock %}

