

 {% if not trick.images.empty or not trick.videos.empty %}
    <div class="d-block d-sm-none text-center">
        <button class="btn btn-info mt-4"
                onclick="this.remove(); $('.scrollgallery').removeClass('d-none');">Voir les médias
        </button>
    </div>
{% endif %}
<div id="trick-media" class="scrollgallery d-none d-sm-block">
    <div class="d-flex align-items-start bd-highlight mb-3">
        {% for video in trick.videos %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card " id="media-{{ video.id }}">
                    <div class="card-body ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="{{ video.url }}" allowfullscreen>
                            </iframe>
                        </div>


                    </div>
                </div>
            </div>
        {% endfor %}
        {% for image in trick.images %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  col-12">
                <div class="card  " id="media-{{ image.name }}">
                    <img class="card-img-top image-pop" src="{{ asset(image.url) }}"
                         alt="Card image cap"
                    >

                </div>
            </div>
        {% endfor %}
    </div>
</div>
