Bonjour {{ user.username }},
<br/><br/>
Vous avez demander à récupérer votre mot de passe.
Vous pouvez le faire en <a href="{{ url('user_password_recover', {'token': user.passwordForgetToken}) }}">cliquant
    ici</a> ou en collant le lien suivant dans votre navigateur {{ url('user_password_recover', {'token': user.passwordForgetToken}) }}
<br/><br/>
Merci d'utiliser SNOWTRICKS et à bientôt
